@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body, #root {
    min-height: 100%;
    position: relative;
    margin: auto;
}

body {
  background: #000 url('./assets/backgroundIlha.png') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

.container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.logo {
  
}

.img {
  width: 100%;
  height: auto;
}
.links {
  width: 80em;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  font-size: 20px;
  
}

